################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorApp6/bin
/BlazorApp6/obj
